.btn {
  display: block;
  margin: auto;
  margin-top: 20px;
}
#player1, #player2{
  display: none;
}
.playersrow {
  min-height: 250px;
}
.col-md-6 {
  min-width: 100px;
  text-align: center;
}
#playerColumn {
  text-align: center;
  width: 200px;
  display: block;
  margin: auto;
}
ul {
  list-style-type: none;
}
